plot_figs/*.ipynb_checkpoints/*
data_reproduce_figs/POP_topog.nc
data_reproduce_figs/POP-dzu_dzt_kzit_subsetSO.nc
data_reproduce_figs/srfstresses_ocn_monthly.nc
data_reproduce_figs/uvIT2005-2009.nc
data_reproduce_figs/vortbdgt_2005-2009avgzint.nc
